.App {
  text-align: center;
  justify-content: center;
  font-family: monospace;
  background-color: #fffc4d;
  min-height: 100vh;
  color: purple;
  font-size: calc(13px + 2vmin);
}
.content{
  padding:30px 20px;
  margin:10px 5rem;
  color: purple;
  background-color: rgb(245, 240, 244);
  shadow: transparent;
  opacity: 0.70;


}
.mainText{
  font-size: 60px;
  color: purple;
  text-transform: uppercase;
}

.Section{
  background-color:#fffc4d;
  min-height: 100vh;
  color: rgb(240, 179, 240)0, 179, 240);
  display: flex;
  flex-wrap:wrap;
  margin: 10px auto;
  width:500px;
  align-self:center;
  justify-content:center;

}

.box>*{
  flex: 1 1 200px;
}
.footer{
  margin: 10px auto;
  width:500px;
}
.Content{ 
  margin:20px auto;

}

.element_card{
  background-color: purple;
  color: #fffc4d;
  width:600px;
  height:250px;
  padding: 20px 80px;
  border-radius: 10%;
  margin:10px 20px;
}
.element_card  a {
  text-decoration: none;
  color:#fffc4d;
}
.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  top:30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  display: row;
  flex-direction: row;
  align-items: center;
  padding:20px;
  justify-content: center;
}
.sideheader{
  justify-content: start;
  display: flex;
  flex-direction: row-reverse;
  
}


ul{
  list-style-type: none;
  margin:0;
  padding:auto 20px ;
  overflow: hidden;
  color:purple;

}
li{
  float: left;
  padding:10px;
}
li a{
  display: block;
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
li a:hover{
  background-color: #111;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
