.App {
  text-align: center;
  justify-content: center;
  font-family: monospace;
  background-color: #fffc4d;
  min-height: 100vh;
  color: purple;
  font-size: calc(13px + 2vmin);
}
.content{
  padding:30px 20px;
  margin:10px 20px;
  color: purple;
  background-color: rgb(245, 240, 244);
  shadow: transparent;
  opacity: 0.70;


}
#project{
  display: flex;
  flex-direction: row;

}
.projectSection {

}
.mainText{
  font-size: 60px;
  color: purple;
  text-transform: uppercase;
}

.Section {
  background-color:#fffc4d;
  min-height: 100vh;
  color: rgb(240, 179, 240);
  display: flex;
  padding:40px;
  flex-wrap:wrap;
  flex-direction: row;
  margin: 30px 10px;
  opacity: 0.9;
  justify-content:center;
  
}

.box>*{
  flex: 1 1 200px;
}
.footer{
  margin: 10px auto;
  width:500px;
}
.Content{
  margin:20px auto;

}

.element_card{
  background-color: purple;
  color: #fffc4d;
  width:250px;
  height:250px;
  padding: 20px 50px;
  border-radius: 30%;
  margin:10px 20px;
  box-shadow: 10px 5px 5px red;
}
.Col{
display: flex;
}
.element_card  a {
  text-decoration: none;
  color:#fffc4d;
}




.header{
  display: row;
  flex-direction: row;
  align-items: center;
  padding:20px;
  justify-content: center;
}
.sideheader{
  justify-content: start;
  display: flex;
  flex-direction: row-reverse;

}


ul{
  list-style-type: none;
  margin:0;
  padding:auto 20px ;
  overflow: hidden;
  color:purple;

}
li{
  float: left;
  padding:10px;
}
li a{
  display: block;
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
li a:hover{
  background-color: #111;
}


